# Compiled class files
*.class

# Log files
*.log

# Temporary files
*.tmp
*.temp

# Maven target directory
target/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr
.idea/

# VS Code files
.vscode/

# Eclipse files
.project
.classpath
.settings/

# NetBeans files
.nb-configuration.xml

# Mac OS-specific files
.DS_Store

# Windows-specific files
Thumbs.db

# Build directories and artifacts
bin/
out/

# JAR and WAR files
*.jar
*.war

# Environment-specific configuration files
.env